:root{
  --mutedblue:#7A7E9A;
  --grayishblue:#A1A9B4;
  --coolgray:#A2AAB5;
  --deepbluegray:#797D99;
  --steelblue:#8B93A7;
  --white:#fff;
  --offwhite:#f9f9f9;
  --black:#000;
  --red:#e3554b;
  --reddishgrey:#7a4242;
  --deepred:#ab4b4b;
  --blackgrey:#261818;
  --somehowblack:#242222;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Sora",serif;
  color:var(--white);
}
body{
  overflow-x:hidden;
}
#app{
  overflow-x:hidden;
}
main{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background:linear-gradient(350deg,var(--black),var(--reddishgrey),var(--red));
  height:60vh;
  overflow-x:hidden;
}
.hero-btn{
  padding:18px;
  border:none;
  outline:none;
  background-color:var(--deepred);
  border-radius:56px;
  z-index:1;
  border:2px solid var(--offwhite);
}
.action-btn{
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
  animation-delay: 250ms;
  animation:fade-up 750ms ease-out forwards;
}
.hero-btn:hover{
  opacity:0.5;
}
.action-btn:hover::after{
  top:59%;
}
.action-btn::after{
  content:'';
  position: absolute;
  top:-35%;
  width:35px;
  height:35px;
  border-radius:50%;
  background-color:var(--deepred);
  z-index:10;
  border:2px solid var(--offwhite);
  transition: all 750ms;
}
.hero-text{
  margin:5%;
  margin-top: 15%;
}
.hero-text-header{
  font-size: 2.5em;
  padding:15px;
  font-weight:bolder;
  text-shadow: 2px 2px 16px rgba(0,0,0,0.25);
  animation:fade-up 750ms ease-out forwards;
}
@keyframes fade-up{
  0%{
    transform: translateY(67%);
  opacity:0;
  }
  100%{
  transform: translateY(0%);
  opacity:1;
  }
}
.hero-header{
  display:flex;
  justify-content:center;
  align-items:center;
}
.hero-header-logo{
  width:6em;
  height:6em;
  object-fit:cover;
}
.hero-text-subtext{
  font-family:"Smooch Sans",sans-serif;
  line-height:18px;
  width:82vw;
  padding:10px;
  text-align:left;
  animation:fade-up 750ms ease-out forwards;
}

.info{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background:linear-gradient(180deg,var(--somehowblack),var(--blackgrey),var(--blackgrey),var(--blackgrey));
}
.info-head-text{
  padding:12px;
  text-shadow: 2px 2px 16px rgba(255,255,255,0.55);
  font-size:2.1em;
  margin-top:15px;
}
.card{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin:12px;
}
.card-img{
  width:8em;
  height:7em;
  object-fit:cover;
  border-radius: 8px;
  margin:0 auto;
  transition: all 750ms;
}
.resize{
  width:18em;
  height:17em;
  object-fit:cover;
  border-radius: 28px;
  margin:0 auto;
  mix-blend-mode: luminosity;
}
.card-text{
  width:100vw;
  text-align: left;
  padding:12px;
}
.card-head {
  font-weight: normal;
  font-size: 1.3em;
  padding: 3px;
  width: 100vw;
  position: relative;
  overflow: hidden; /* Ensures the pseudo-element stays within bounds */
  transition: all 950ms;
  transform: translateY(0%);
  opacity:1;
}

.card-head::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--white);
  width: 0;
  transition:all 2s ease-in-out;
}
.visible{
  font-weight: normal;
  font-size: 1.3em;
  padding: 3px;
  width: 100vw;
  position: relative;
  overflow: hidden; /* Ensures the pseudo-element stays within bounds */
  transform: translateY(0%);
  opacity:1;
}
.border-expand::after{
  width: 100%;
}
.card-subtext{
  font-weight: normal;
  font-size:1.1em;
  font-family:"Smooch Sans",sans-serif;
  text-align:left;
  padding: 6px;
  transition: all 950ms;
  transform: translateY(0%);
  opacity:1;
}


.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Thin bar */
  background-color: white;
  z-index: 9999;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(170deg,var(--red),var(--deepred)); /* Google blue color */
  transition: width 0.1s ease-out;
}
.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9998;
}

dotlottie-player{
  transform: translateX(-40%) translateY(60%);
  animation:move-toright 4s ease-out forwards;
}

@keyframes move-toright{
  0%{
    transform: translateX(-40%) translateY(60%);
  }
  100%{
    transform: translateX(70%) translateY(60%);
  }
}

@media (min-width:768px){
  .hero-header-logo{
    display:none;
  }
  .hero-header{
    width:90vw;
    justify-content: flex-start;
  }
  .hero-text-header{
    font-size:5em;
    text-align:left;
    margin:18px;
  }
  .hero-btn{
    font-size:2em;
    border:3.5px solid var(--white);
    padding:20px;
  }
  .info-head-text{
    font-size:4.2em;
  }
  .card{
    margin:26px;
  }
  .card-head{
    font-size:3.2em; 
  }
  .border-expand{
    font-size: 3.5em;
  }
  .border-expand::after{
    border:1px solid var(--white);
  }
  .card-subtext{
    font-size:1.5em; 
  }
  .progress-bar-container{
    height:10px;
  }
}